<div class="dialog">
  <h1 mat-dialog-title class="dialog">{{data.groupName}}
    <button class="close" mat-icon-button (click)="onNoclick()">
      <mat-icon>close</mat-icon>
    </button>
  </h1>
  <mat-dialog-content class="mat-typography dialog">
    <mat-form-field>
      <span>{{selected}}</span>
      <mat-select
        (selectionChange)="onUserSelectionChange($event)"
        [value]="selected"
      >
        <mat-option *ngFor="let option of options" [value]="option.userId" (click)="onUserSelectionChange(option)">
          {{option.username}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-actions dialog" align="center">
    <button mat-raised-button color="warn" class="button" (click)="addUser()" type="submit">
      Add user
    </button>
  </mat-dialog-actions>
</div>
