.my-message{
  border-radius: 25px;
  background: linear-gradient(#00E6FF,#006DFF);
  padding: 20px;
  width: auto;
  height: auto;
  text-align: center;
  display: block;
  margin-right: 0;
  margin-left: auto;

}
.user-message{
  border-radius: 25px;
  background: #cccccc;
  padding: 20px;
  width: auto;
  height: auto;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-box{
  width: auto;
  height: 100px;
}
.message-box{
  margin-left: 30%;
  margin-right: 30%;
  width: 1000px;
  height: 80px;
}
/*input{*/
/*  background: linear-gradient(#00E6FF, #006DFF);*/

/*}*/

mat-list{
  flex-grow: 1;
  /*border: 3px solid green;*/
  overflow: auto;
}
.container-div{
  height: 800px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 1800px;
  margin: auto;
}
.container{
  height: 30px;
}
.img_login{
  width: 30px;
  height: auto;
  margin-right: 10px;
}
