<div class="container-div">
<mat-grid-list cols="3" rowHeight="8:1" class="container" *ngFor="let m of messages">
  <mat-grid-tile>
    <span *ngIf="!myMessage(m)" class="user-message">
      <img src="assets/login.png" class="img_login">
      {{m.message}}
    </span>
  </mat-grid-tile>
  <mat-grid-tile> </mat-grid-tile>
  <mat-grid-tile>
    <span *ngIf="myMessage(m)" class="my-message">
      {{m.message}}
    </span>
  </mat-grid-tile>
</mat-grid-list>
  <div class="chat-box">
    <form [formGroup]="userMessage" (ngSubmit)="submit()">
      <mat-form-field class="message-box">
        <input matInput formControlName="message">
        <button mat-button matSuffix mat-stroked-button color="primary" [disabled]="userMessage.invalid" type="submit">
          <mat-icon>send</mat-icon>
        </button>
        <mat-error *ngIf="userMessage.controls.message.invalid">{{getMessageError()}}</mat-error>
      </mat-form-field>
    </form>
  </div>
</div>
