.my-message{
  border-radius: 25px;
  background: aqua;
  padding: 20px;
  width: auto;
  height: auto;
  margin: auto;
  text-align: center;
}
.user-message{
  border-radius: 25px;
  background: aquamarine;
  padding: 20px;
  width: auto;
  height: auto;
  margin: auto;
  text-align: center;
}

.chat-box{
  width: auto;
  height: 100px;
}
.message-box{
  margin-left: 30%;
  margin-right: 30%;
  width: 1000px;
  height: 80px;
}

mat-list{
  flex-grow: 1;
  border: 3px solid green;
  overflow: auto;
}
.container-div{
  height: 800px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
.container{
  height: 30px;
}
