<div>
  <div class="header">
    <img src="assets/logo_blue.png" class="logo">
    <div *ngIf="group">
      <button (click)="modal()" >
        <mat-icon>person</mat-icon>
      </button>
    </div>
    <span class="title">{{title}}</span>
    <div class="login_name">
      <span class="name">{{name}}</span>
      <button class="outer-button" mat-mini-fab color="white" aria-label="User profile" (click)="openDialog()">
        <mat-icon class="profile" fontIcon="person"></mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>
