<div>
  <mat-dialog-content>
    <h1>Create new group</h1>
    <mat-label>Group name:</mat-label>
    <input [(ngModel)]="groupName">
  <mat-form-field>
    <mat-select
      (selectionChange)="onUserSelectionChange($event)"
      [value]="selected"
      multiple
    >
      <mat-option *ngFor="let user of data.users" [value]="user.id" (click)="onUserSelectionChange(user)">
        {{user.username}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button (click)="createGroup()">odoslat</button>
  </mat-dialog-actions>

</div>
