<div>

  <mat-dialog-content>
  <mat-label>Toppings</mat-label>


  <mat-form-field>
    <mat-select
      (selectionChange)="onUserSelectionChange($event)"
      [value]="selected"
      multiple
    >
      <mat-option *ngFor="let user of data.users" [value]="user.id" (click)="onUserSelectionChange(user)">
        {{user.username}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button>odoslat</button>
  </mat-dialog-actions>

</div>
