<mat-toolbar class="toolbarNav">
  <button mat-flat-button routerLink="/group-chat" routerLinkActive="active-link">
    <mat-icon class="material-icons color_blue" routerLinkActive="active-link">
      group</mat-icon>
    <span>Group chat</span>
  </button>
  <button mat-flat-button routerLink="/private-chat" routerLinkActive="active-link">
    <mat-icon class="material-icons color_blue" routerLinkActive="active-link">
      chat</mat-icon>
    <span>Private chat</span>
  </button>
  <button mat-flat-button routerLink="/global-chat" routerLinkActive="active-link">
    <mat-icon  class="material-icons color_blue" routerLinkActive="active-link">forum
    </mat-icon>
    <span>General chat</span>
  </button>
  <button mat-flat-button routerLink="/user-list" routerLinkActive="active-link">
    <mat-icon class="material-icons color_blue" routerLinkActive="active-link">view_list</mat-icon>
    <span>User list</span>
  </button>
</mat-toolbar>
